.price-card{
    text-align: left;
}
.horizontal-card-output{
    height: fit-content;
}
.card-button-container{
    display: flex;
    flex-direction: column;
}
.outline-secondary-button{
    border: 1.5px solid var(--dark-secondary-color);
    color: var(--dark-secondary-color);
}
.secondary-button{
    background-color: var(--dark-secondary-color);
}
.outline-round-button{
    font-weight: bolder;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid;
    background-color: var(--white-color);
}
.quantity-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 1rem;
}
.quantity-input-box{
    width: 1.5rem;
    text-align: center;
}