.grid-container{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "filter main"
}
.badge-card{
    margin-left: 9rem;
}
.badge-card:hover{
    color: var(--red-color);
}

.product-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.w-100{
    width: 100%;
}
.pd-none{
    padding: 0;
}
.mr-05rm{
    margin: 0.5rem;
}
.card-vertical{
    height: fit-content;
}

/* @media only screen and (max-width: 768px){
    .grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "main"
    }
} */