:root{
  --red-color: red;
}
.badge-card {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.fa-heart {
  font-size: 2rem;
  color: var(--secondary-color);
}
.fa-heart:hover {
  color: var(--red-color);
}

.color-heart {
  color: var(--red-color);
}

.rating-star-color {
  font-size: x-large;
  color: rgb(255, 164, 28);
}

.rating-star {
  font-size: x-large;
}

.false{
  cursor: not-allowed;
}