.menu-container {
  display: flex;
  overflow: auto;
  overflow-y: hidden;
  justify-content: flex-start;
  height: fit-content;
  margin: 1.5rem 0 1.5rem 0;
}
.menu-image {
  height: 7rem;
  width: 11rem;
  transition: all 0.4s ease-in;
}
.badge-card {
  font-weight: bold;
  background-color: var(--seconadry-color);
  color: var(--black-color);
}

.text-overlay-component {
  position: relative;
  flex-grow: 1;
  cursor: pointer;
  margin: 0.5rem;

  transition: 0.5s all ease-in-out;
}

.textC {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  opacity: 0;
  color: #4a4848;
  transition: all 0.2s ease-in;
}

.textC:hover {
  transform: translateY(40%);
  opacity: 1;
}
.text-overlay-component:hover .menu-image{
  opacity: 0.6;
}
